//- navbar.pug
- var navAttrib = {};
- navAttrib.class = ['navbar', 'navbar-inverse', 'fixed-top-lg', 'navbar-expand-lg', 'navbar-dark', 'bg-info'];

nav(class=navAttrib.class)

  a(
  class='navbar-brand'
  href='#'
  ):  i(
      class='fas fa-code-branch fa-2x'
      )


  button(
  class='navbar-toggler'
  type='button'
  data-toggle='collapse'
  data-target='#navbarToggler'
  aria-controls='navbarToggler'
  aria-expanded='false'
  aria-label='Toggle navigation'
  )

    span(class='navbar-toggler-icon')

  div(
  class='collapse navbar-collapse'
  id='navbarToggler'
  )
    ul(class='navbar-nav mr-auto mt-2 mt-lg-0')
      li(class='nav-item active')
        a(class='nav-link' href='#') home
          span(class='sr-only') (current)
      li(class='nav-item')
        a(class='nav-link' href='#') Feature
      li(class='nav-item')
        a(class='nav-link' href='#') Pricing

    form(class='form-inline my-2 my-lg-0')
      input(
      type='email'
      class='form-control mr-sm-2 my-sm-0'
      id='InputEmail1'
      aria-describedby='emailHelp'
      placeholder='Email'
      )

      input(
      type='password'
      class='form-control mr-sm-2 my-sm-0'
      id='InputPassword1'
      placeholder='Password'
      )
      
      input(
      type='checkbox'
      class='form-check-input mr-sm-2 my-sm-0'
      id='Check1'
      )
      
      button(
      type='submit'
      class='btn btn-outline-warning mr-sm-2 my-sm-0'
      ) Login
