//- script.pug

//- jQuery js
script(
  src='/jquery/jquery.js'
)

//- popper .js
script(
  src='/popper/popper.js'
)

//- Bootstrap js
script(
src='/js/bootstrap.js'
)

//- fontAwesome js
script(
src='/js/all.js'
)

//- Bootstrap CSS
link(
rel='stylesheet'
href='/css/bootstrap.css'
)

//- fontAwesome css
link(
rel='stylesheet'
href='/css/all.css'
)
